body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#1f6c99;
}

.form-container{
    width:400px;
    background:#fff;
    padding:30px;
    border-radius:10px;
}

.form-toggle{
    display:flex;
    margin-bottom:20px;
}

.form-toggle button{
    flex:1;
    padding:10px;
    border:none;
    cursor:pointer;
    font-size:16px;
}

.form-toggle .active{
    background:#0d3f5c;
    color:white;
    border-radius:8px;
}

.form-toggle .inactive{
    background:#ddd;
    border-radius:8px;
}

.form{
    display:flex;
    flex-direction:column;
}

.form h2{
    margin-bottom:20px;
}

.form input{
    padding:12px;
    margin-bottom:12px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:14px;
}

.submit-btn{
    padding:12px;
    border:none;
    background:#0d3f5c;
    color:white;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
}